html {
    font-family: var(--font-primary);
    font-size: var(--base-font-size);
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 {
    font-size: calc(var(--base-font-size) * 4);
}

h2 {
    font-size: calc(var(--base-font-size) * 3.5);
}

h3 {
    font-size: calc(var(--base-font-size) * 3);
}

h4 {
    font-size: calc(var(--base-font-size) * 2.5);
}

h5 {
    font-size: calc(var(--base-font-size) * 1.5);
}

h6 {
    font-size: calc(var(--base-font-size) * 1);
}

p {
    margin: 0.5rem 0;
    font-size: calc(var(--base-font-size) * 1.5);
}

b,
strong {
    font-weight: 600;
}

blockquote {
    padding: 1rem;
    border: 1px solid var(--color-primary-foreground);
}

code {
    display: block;
    font-size: 1rem;
    font-family: "Source Code Pro", monospace;
    line-height: 1.25;
    overflow: auto;
}

a {
    text-decoration: none;
}

a:hover span {
    text-decoration: underline;
}

li {
    padding: 0.125rem 0;
}

.text-center {
    text-align: center;
}

.text-xs {
    font-size: calc(var(--base-size) * 2);
    line-height: calc(var(--base-size) * 2);
}

.text-s {
    font-size: calc(var(--base-size) * 3);
    line-height: calc(var(--base-size) * 3);
}

.text-m {
    font-size: calc(var(--base-size) * 3.5);
    line-height: calc(var(--base-size) * 3.5);
}

.text-l {
    font-size: calc(var(--base-size) * 4.5);
    line-height: calc(var(--base-size) * 4.5);
}

@media (max-width: 48rem) {
    :root {
        --base-font-size: 1.125rem;
    }

    h1 {
        font-size: calc(var(--base-font-size) * 2.5);
    }

    h2 {
        font-size: calc(var(--base-font-size) * 2);
    }

    h3 {
        font-size: calc(var(--base-font-size) * 1.5);
    }

    h4 {
        font-size: calc(var(--base-font-size) * 1.25);
    }

    h5 {
        font-size: calc(var(--base-font-size) * 1);
    }

    h6 {
        font-size: calc(var(--base-font-size) * 0.75);
    }
}
